// sitting on a cornflake

$label-color: black;

$btn-default-bg: #5cb85c;


@import "bootstrap";




.form {
  .fieldset {
    @extend .form-group;
  }
}

.form_error {
  @extend .alert;
  @extend .alert-danger;
}

input[type="file"] {
  height: auto
}

form {
  padding: 40px;
  background: #eee;
}

