// sitting on a cornflake

$label-color: black;

$btn-default-bg: #5cb85c;
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

@import "bootstrap";
//@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */



.form {
  .fieldset {
    @extend .form-group;
  }
}

.form_error {
  @extend .alert;
  @extend .alert-danger;
}

input[type="file"] {
  height: auto
}

form {
  padding: 40px;
  background: #eee;
}

.action-links a,
input[type="submit"] {
  @extend .button;
}
